.frame {
  border: 3px solid #333;
  border-radius: 5px;
  margin: 20px;
}

#body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#bdgstyle {
  font-size: 20px;
  position: absolute;
  border: 3px solid;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.welcome {
  margin: auto;
  font-family: fantasy;
}

.notice {
  margin: 25px;
  font-weight: bold;
  font-size: large;
}

.flex {
  display: flex;
}

.satellites {
  margin: 30px;
  animation: rotate-axis 4s linear infinite;
  transform-style: preserve-3d;
  justify-content: center;
  display: flex;

}

/* 그림사이의 거리 */
.satellite {
  position: absolute;
  transform: translateZ(50px);
  margin-left: 13px;
}

.satellite2 {
  position: absolute;
  transform: translateZ(47px);
  margin-left: 13px;
}

.satellite3 {
  position: absolute;
  transform: translateZ(45px);
  margin-left: 13px;
}

.satellite4 {
  transform: translateZ(43px);

}

@keyframes rotate-axis {
  from {
    transform: rotateZ(350deg) perspective(1200px) rotateY(0deg);
  }

  to {
    transform: rotateZ(350deg) perspective(1200px) rotateY(360deg);
  }
}